<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hit Me Up!</title>
    <link href="../css/index.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
    <script src="../js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.13.min.js"></script>
    <script src="../js/HitMeUp3.js"></script>
  </head>

  <body>

    <!-- Todo App Interface -->

    <div id="todoapp">
      <div class="title">
        <h1>Welcome to Hit Me Up!</h1>
      </div>

      <div class="content">
      </div>
    </div>

    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>

        </form>


        <div class="forgot-password"></div>
        <button class="forgot-password" style="display: inline-block">
          <a href="./index.html" style="text-decoration:none; color:#175E91">Forgot Your Password?</a>
        </button>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>

        <form class="code-form">
          <h3>Enter 6 Character Code</h3>
          <div class="error" style="display:none"></div>
          <input type="text" id="user-code" placeholder="User Code" />
          <button>Search!</button>
        </form>

      </div>
    </script>

    <script type="text/template" id="manage-media-template">
      <header id="header"></header>
      <div id="user-info">
        Signed in as <%= Parse.User.current().escape("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>
      <div class="media">
          <form class="twitter-form">
            <h4>Twitter</h4>
            <input type="text" id="twitter_name" placeholder="Enter your twitter username"  />
            <button>Add to List</button>
          </form> 
      </div>
    </script>

    <script type="text/template" id="item-template">
      <li class="<%= done ? 'completed' : '' %>">
	<div class="view">
	  <input class="toggle" type="checkbox" <%= done ? 'checked="checked"' : '' %>>
	  <label class="todo-content"><%= _.escape(content) %></label>
	  <button class="todo-destroy"></button>
	</div>
	<input class="edit" value="<%= _.escape(content) %>">
      </li>
    </script>

    <script type="text/template" id="stats-template">
      <footer id="footer">
	<span id="todo-count"><strong><%= remaining %></strong> <%= remaining == 1 ? 'item' : 'items' %> left</span>
	<ul id="filters">
	  <li>
	    <a href="javascript:void(0)" id="all" class="selected">All</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="active">Active</a>
	  </li>
	  <li>
	    <a href="javascript:void(0)" id="completed">Completed</a>
	  </li>
	</ul>
	<button id="clear-completed">Clear completed (<%= done %>)</button>
      </footer>
    </script>
  </body>

</html>
